.vertical-flex {
	display: flex;
	flex-direction: column;
	justify-content:center;
	gap: 2vh;
}

.title {
	color: Red;
	text-align: center;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content:center;
	gap: 2vw;
}

.navbar-item {
	
}

.navbar-item-selected {
	
}

.game {
	display: flex;
	flex-direction: row;
	justify-content:center;
	gap: 1vw;
}

.sidebar-image {
	width:25vw;
	height:14.0625vw; 
}

.game-sidebar {
	display: flex-inline;
	flex-direction: column;
	justify-content:center;
	width:25vw
}

.sticky-footer {
	position: -webkit-sticky; /*need for safari*/
	position: sticky;
	bottom: 0;
	background-color: white;
	padding: 1vh; /*make realative*/
	display: flex;
	flex-direction: row;
	justify-content:center;
	gap: 2vw;
}

.phone-number {
	
}

.email {
	
}
