vertical-flex {
	display: flex;
	flex-direction: column;
	justify-content:center;
	
}

title {
	
}

navbar {
	display: flex;
	justify-content:center;
}

navbar-item {
	
}

navbar-item-selected {
	
}

game {
	display: flex;
	flex-direction: row;
	justify-content:center;
}

sidebar-image {
	width:"1920";
	height:"1080";
}

game-sidebar {
	
}

sticky-footer {
	position: -webkit-sticky; /*need for safari*/
	position: sticky;
	bottom: 0;
	background-color: black;
	padding: 50px; /*make realative*/
	font-size: 20px; /*make realative*/
}

phone-number {
	
}

email {
	
}